@import 'rollen.less';
@import 'kunde.less';
@import 'betreiber.less';
@import 'reservierung.less';
@import 'bestaetigung.less';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0a0a0a;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

